name: Adds all issues that don't include the 'bug' or 'needs-triage' labels to project board

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@RELEASE_VERSION
        with:
          project-url: https://github.com/orgs/InternationalGangsters/projects/1
          github-token: ${{ secrets.MY_GITHUB_TOKEN }}
          labeled: bug, needs-triage
          label-operator: NOT
